USE [master]
GO
/****** Object:  Database [AIS_DB]    Script Date: 12/9/2018 4:40:32 PM ******/
CREATE DATABASE [AIS_DB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'AIS_DB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\AIS_DB.mdf' , SIZE = 3136KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'AIS_DB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\AIS_DB_log.ldf' , SIZE = 784KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [AIS_DB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [AIS_DB]
GO
/****** Object:  Table [dbo].[CTPhieu]    Script Date: 12/9/2018 4:40:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CTPhieu](
	[phieu_so] [varchar](20) NOT NULL,
	[mssp] [int] NOT NULL,
	[tk_du] [varchar](15) NOT NULL,
	[slg] [int] NOT NULL,
	[don_gia] [int] NOT NULL,
	[thanh_tien] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[phieu_so] ASC,
	[mssp] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CUAHANG]    Script Date: 12/9/2018 4:40:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CUAHANG](
	[msch] [int] NOT NULL,
	[ten_ch] [nvarchar](100) NOT NULL,
	[dia_chi] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[msch] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[GOCPHIEU]    Script Date: 12/9/2018 4:40:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[GOCPHIEU](
	[phieu_so] [varchar](20) NOT NULL,
	[msch] [int] NOT NULL,
	[mskh] [varchar](20) NOT NULL,
	[so_hd] [int] NOT NULL,
	[ng_lap] [datetime] NOT NULL,
	[ng_phhd] [datetime] NULL,
	[thue_suat] [int] NOT NULL,
	[thue_gtgt] [int] NOT NULL,
	[tk_chinh] [varchar](15) NOT NULL,
	[loai_goc_phieu] [int] NOT NULL,
	[ly_do] [varchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[phieu_so] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[KHACHHANG]    Script Date: 12/9/2018 4:40:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[KHACHHANG](
	[mskh] [varchar](20) NOT NULL,
	[ho_ten] [nvarchar](50) NOT NULL,
	[ms_thue] [varchar](20) NULL,
	[dia_chi] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[mskh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PHIEUCHI]    Script Date: 12/9/2018 4:40:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PHIEUCHI](
	[phieu_so] [int] NULL,
	[stt_pc] [int] NOT NULL,
	[ng_chi] [datetime] NOT NULL,
	[so_tien_chi] [int] NOT NULL,
	[mskh] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[stt_pc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PHIEUTHU]    Script Date: 12/9/2018 4:40:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PHIEUTHU](
	[phieu_so] [int] NULL,
	[stt_pt] [int] NOT NULL,
	[ng_thu] [datetime] NOT NULL,
	[so_tien_thu] [int] NOT NULL,
	[mskh] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[stt_pt] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SANPHAM]    Script Date: 12/9/2018 4:40:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SANPHAM](
	[mssp] [int] NOT NULL,
	[ten_sp] [nvarchar](100) NOT NULL,
	[don_vi_tinh] [nvarchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[mssp] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TAIKHOAN]    Script Date: 12/9/2018 4:40:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TAIKHOAN](
	[id] [int] NOT NULL,
	[name] [nvarchar](100) NOT NULL,
	[pass] [varchar](50) NOT NULL,
	[permission] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[CUAHANG] ([msch], [ten_ch], [dia_chi]) VALUES (1, N'Kho Bia', N'96-98-100 Nguyễn An Ninh, Q. Ninh Kiều, TP. Cần Thơ')
INSERT [dbo].[CUAHANG] ([msch], [ten_ch], [dia_chi]) VALUES (2, N'Kho Xe & phụ tùng', N'96-98-100 Nguyễn An Ninh, Q. Ninh Kiều, TP. Cần Thơ')
INSERT [dbo].[CUAHANG] ([msch], [ten_ch], [dia_chi]) VALUES (3, N'Kho Vị Thanh', N'135 đường 3 tháng 2, Thị xã Vị Thanh, tỉnh Hậu Giang')
ALTER TABLE [dbo].[GOCPHIEU]  WITH CHECK ADD FOREIGN KEY([msch])
REFERENCES [dbo].[CUAHANG] ([msch])
GO
ALTER TABLE [dbo].[GOCPHIEU]  WITH CHECK ADD FOREIGN KEY([mskh])
REFERENCES [dbo].[KHACHHANG] ([mskh])
GO
ALTER TABLE [dbo].[PHIEUCHI]  WITH CHECK ADD FOREIGN KEY([mskh])
REFERENCES [dbo].[KHACHHANG] ([mskh])
GO
ALTER TABLE [dbo].[PHIEUTHU]  WITH CHECK ADD FOREIGN KEY([mskh])
REFERENCES [dbo].[KHACHHANG] ([mskh])
GO
USE [master]
GO
